@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    margin: 0 auto;
    background:
            url("../img/heading__bg--desktop.png") no-repeat 63% 72%,
            url("../img/page-header__bg--desktop.jpg") no-repeat 100% 0;
  }
}